.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--gray-darker);
  position: relative;
  height: 80px;
}

.navbar-logo img {
  width: 100px;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu a {
  text-decoration: none;
  color: var(--light-text-color);
  padding: 10px 15px;
  background-color: var(--gray-dark);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.navbar-menu a:hover {
  color: var(--text-color);
  background-color: var(--gray-lighter);
  font-weight: bolder;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--light-text-color);
  padding: 10px;
  font-size: 1.5rem; 
}

.navbar-actions button:hover {
  background-color: var(--gray-lighter);
  color: var(--text-color);
}

@media (max-width: 1180px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    height: 80px; 
    gap: 10px;
  }

  .hamburger-menu {
    display: flex;
    order: 2;
    padding: 10px 15px;
    border-radius: 5px;
  }

  .hamburger-menu.open {
    background-color: var(--gray-lighter);
    border-radius: 5px 5px 0px 0px;
  }
  
  .hamburger-menu .bar {
    width: 100%;
    height: 3px;
    background-color: var(--light-text-color);
    margin: 4px 0;
    transition: all 0.3s ease;
  }
  
  .hamburger-menu.open .bar {
    background-color: var(--text-color);
  }

  .hamburger-menu:hover{
    background-color: var(--gray-lighter);
  }

  .hamburger-menu:hover .bar{
    background-color: var(--text-color);
  }

  .navbar-actions {
    display: flex;
    order: 1;
    flex-direction: row; 
    gap: 10px;
    position: relative;
    right: 0;
    margin-left: auto;
  }

  .navbar-menu {
    display: none; 
    flex-direction: column; 
    position: absolute;
    top: 59px; 
    margin-right: 20px;
    right: 0; 
    width: auto;
    background-color: var(--gray-lighter);
    z-index: 10;
    padding: 10px 20px;
  }

  .navbar-menu.open {
    display: flex; 
  }

  .navbar-menu li {
    margin: 0px 0; 
  }

  .navbar-menu a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 0px;
    background-color: var(--gray-lighter);
    border-radius: 0px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .navbar-menu a:hover {
    color: var(--text-color);
    background-color: var(--gray-lightest);
  }
}
