.contact-page {
  background-color: var(--blue-darker);
  min-height: calc(100vh - 80px);
}

.contact-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-header h1 {
  font-weight: bold;
  text-align: center;
  color: var(--white);
}

.contact-header p {
  color: var(--gray-lighter);
  text-align: center;
  margin-bottom: 20px;
  max-width: 600px; 
  line-height: 1.5;
}

.contact-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 60px;
  background-color: var(--gray-darkest);
  padding: 60px 40px;
  box-sizing: border-box;
}

.contact-info, .contact-form {
  width: 45%;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column; 
    padding: 20px;
    gap:60px;
  }

  .contact-info, .contact-form {
    width: 100%;
  }
}