.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {

  --font-family: 'Arial', sans-serif;
  --font-size: 14px;
  --font-size-subt: 18px;

  --blue-darkest: #001e44;
  --blue-darker: #002a66;
  --blue-dark: #003366;
  --blue-medium: #004a99;
  --blue-light: #0068D0;
  --blue-lighter: #5a9cf2;
  --blue-lightest: #a2d9ff;

  --purple-darkest: #2e004f;
  --purple-darker: #4b0082;
  --purple-dark: #6a0dad;
  --purple-medium: #8a2be2;
  --purple-light: #d3a8ff;
  --purple-lighter: #e5c4ff;
  --purple-lightest: #f3e5ff;

  --gray-darkest: #1a1a1a;
  --gray-darker: #333333;
  --gray-dark: #666666;
  --gray-medium: #999999;
  --gray-light: #cccccc;
  --gray-lighter: #e0e0e0;
  --gray-lightest: #f5f5f5;

  --white: white;

  --bg-white-color: var(--white);
  --bg-light-color: var(--gray-lightest);
  --bg-medium-color: var(--gray-lighter);
  --bg-dark-color: var(--gray-light);
  --bg-darker-color: var(--gray-medium);
  --bg-darkest-color: var(--gray-medium);

  --text-color: var(--gray-darkest);
  --medium-text-color: var(--gray-darkest);
  --light-text-color: var(--white);


  --link-color: var(--blue-medium);
  --link-hover-color: var(--blue-lightest);

  --button-bg: var(--gray-light);
  --button-hover-bg: var(--gray-medium);

  --button-dark-blue-bg: var(--blue-darker);
  --button-dark-blue-hover-bg: var(--blue-medium);
  --button-medium-blue-bg: var(--blue-dark);
  --button-medium-blue-hover-bg: var(--blue-light);
  --button-light-blue-bg: var(--blue-medium);
  --button-light-blue-hover-bg: var(--blue-lighter);

  --button-dark-purple-bg: var(--purple-darker);
  --button-dark-purple-hover-bg: var(--purple-medium);
  --button-medium-purple-bg: var(--purple-dark);
  --button-medium-purple-hover-bg: var(--purple-light);
  --button-light-purple-bg: var(--purple-medium);
  --button-light-purple-hover-bg: var(--purple-lighter);
}

[data-theme="dark"] {
  --blue-darkest: #001e44;
  --blue-darker: #00233d;
  --blue-dark: #003366;
  --blue-medium: #004680;
  --blue-light: #005a99;
  --blue-lighter: #0068D0;
  --blue-lightest: #0068D0;

  --purple-darkest: #2e004f;
  --purple-darker: #3c0061;
  --purple-dark: #4b0082;
  --purple-medium: #6a0dad;
  --purple-light: #8a2be2;
  --purple-lighter: #c66df2;
  --purple-lightest: #d3a8ff;

  --gray-darkest: #1a1a1a;
  --gray-darker: #2a2a2a;
  --gray-dark: #3d3d3d;
  --gray-medium: #666666;
  --gray-light: #888888;
  --gray-lighter: #aaaaaa;
  --gray-lightest: #cccccc;

  --white: #e0e0e0;

  --bg-white-color: var(--white);
  --bg-light-color: var(--gray-lightest);
  --bg-medium-color: var(--gray-lighter);
  --bg-dark-color: var(--gray-light);
  --bg-darker-color: var(--gray-medium);
  --bg-darkest-color: var(--gray-medium);

  --text-color: var(--gray-darkest);
  --medium-text-color: var(--gray-white);
  --light-text-color: var(--white);
  
  --link-color: var(--blue-medium);
  --link-hover-color: var(--blue-lightest);

  --button-bg: var(--gray-light);
  --button-hover-bg: var(--gray-medium);

  --button-dark-blue-bg: var(--blue-darker);
  --button-dark-blue-hover-bg: var(--blue-medium);
  --button-medium-blue-bg: var(--blue-dark);
  --button-medium-blue-hover-bg: var(--blue-light);
  --button-light-blue-bg: var(--blue-medium);
  --button-light-blue-hover-bg: var(--blue-lighter);

  --button-dark-purple-bg: var(--purple-darker);
  --button-dark-purple-hover-bg: var(--purple-medium);
  --button-medium-purple-bg: var(--purple-dark);
  --button-medium-purple-hover-bg: var(--purple-light);
  --button-light-purple-bg: var(--purple-medium);
  --button-light-purple-hover-bg: var(--purple-lighter);
}


a:hover, button:hover {
  font-weight: bold;
}